body {
	background-color: gray;
}

.paper {
	width: 954px;
	height: 676px;
	background-color: white;
}

.red {
	color: red;
}

.general_info {
	width: 7.3cm;
	max-height: 100%;
}

div.general_info {
	height: 100%;
	display: inline-block;
	padding-right: 0.05cm
}

* {
	margin: 1px;
}

p {
	margin-bottom: 15px;
	font-size: 10px;
}