body {
	background-color: gray;
}

.paper {
	width: 29.5cm;
	height: 21cm;
	background-color: white;
}

.red {
	color: red;
}

.general_info {
	width: 7.3cm;
}

div.general_info {
	height: 100%;
	display: inline-block;
	padding-right: 0.05cm
}

